.table-dark {
    --bs-table-bg: #547bcc;
    --bs-table-striped-bg: #8bacf3;
    --bs-table-active-bg: #547bcc;
    --bs-table-hover-bg: #547bcc;
}

.text-primary, .editor-toolbar button {
    color: #424de2 !important
}

.btn-link:hover, a:hover, footer .links a:hover, footer .social a:hover {
    color: #748fdb
}

.list-group-item.active, .btn-primary, .form-check-input:checked {
    background-color: #547bcc !important;
    color: #fff !important
}

.bg-primary, .dropdown-item.active, .dropdown-item:active {
    background-color: #547bcc !important;
    color: #fff !important;
    box-shadow: none
}

.progress-bar {
    background-color: #8bacf3
}

.btn-play {
    background-color: #8bacf3;
    border: solid 4px #678fe2
}

.bg-dark, .breadcrumb, .btn-play:active, .btn-play:hover {
    background-color: #547bcc !important
}

.background-overlay:before {
    background-color: rgb(54 117 189 / 40%)
}

.navbar .active .nav-link {
    background-color: transparent !important
}

::-webkit-scrollbar-thumb {
    background: #547bcc;
    border-radius: 25px
}

::selection {
    background-color: #424de2
}

footer .links a {
    background-color: #547bcc;
    border-radius: 25px;
    color: #fff !important
}

footer .links a:hover {
    background-color: #547bcc
}

.btn-secondary, .btn-success, .color, .form-check-input:focus:not(:checked), .form-check-input:not(:disabled):active {
    background-color: #547bcc !important
}

.btn-secondary:active, .btn-secondary:hover, .btn-success:hover, .color:hover {
    background-color: #8bacf3 !important;
    box-shadow: none
}

.nav-link::before {
    background: #547bcc
}

.play-icon {
    color: #8bacf3
}

.card-header, .accordion-button:not(.collapsed) {
    background-color: #1e4aa5
}
