.table-dark {
    --bs-table-bg: #51c75d;
    --bs-table-striped-bg: #9de8a5;
    --bs-table-active-bg: #51c75d;
    --bs-table-hover-bg: #51c75d;
}

.text-primary, .editor-toolbar button {
    color: #47e242 !important
}

.btn-link:hover, a:hover, footer .links a:hover, footer .social a:hover {
    color: #74db79
}

.list-group-item.active, .btn-primary, .form-check-input:checked {
    background-color: #51c75d !important;
    color: #fff !important
}

.bg-primary, .dropdown-item.active, .dropdown-item:active {
    background-color: #51c75d !important;
    color: #fff !important;
    box-shadow: none
}

.progress-bar {
    background-color: #9de8a5
}

.btn-play {
    background-color: #9de8a5;
    border: solid 4px #67e282
}

.bg-dark, .breadcrumb, .btn-play:active, .btn-play:hover {
    background-color: #51c75d !important
}

.background-overlay:before {
    background-color: rgb(75 199 111 / 40%)
}

.navbar .active .nav-link {
    background-color: transparent !important
}

::-webkit-scrollbar-thumb {
    background: #51c75d;
    border-radius: 25px
}

::selection {
    background-color: #47e242
}

footer .links a {
    background-color: #51c75d;
    border-radius: 25px;
    color: #fff !important
}

footer .links a:hover {
    background-color: #51c75d
}

.btn-secondary, .btn-success, .color, .form-check-input:focus:not(:checked), .form-check-input:not(:disabled):active {
    background-color: #51c75d !important
}

.btn-secondary:active, .btn-secondary:hover, .btn-success:hover, .color:hover {
    background-color: #9de8a5 !important;
    box-shadow: none
}

.nav-link::before {
    background: #51c75d
}

.play-icon {
    color: #9de8a5
}

.card-header, .accordion-button:not(.collapsed) {
    background-color: #20a02d
}
