.table-dark {
    --bs-table-bg: #964ab9;
    --bs-table-striped-bg: #b274db;
    --bs-table-active-bg: #964ab9;
    --bs-table-hover-bg: #964ab9;
}

.text-primary, .editor-toolbar button {
    color: #a242e2 !important
}

.btn-link:hover, a:hover, footer .links a:hover, footer .social a:hover {
    color: #b274db
}

.list-group-item.active, .btn-primary, .form-check-input:checked {
    background-color: #964ab9 !important;
    color: #fff !important
}

.bg-primary, .dropdown-item.active, .dropdown-item:active {
    background-color: #964ab9 !important;
    color: #fff !important;
    box-shadow: none
}

.progress-bar {
    background-color: #ac7dc1
}

.btn-play {
    background-color: #ac7dc1;
    border: solid 4px #b167e2
}

.bg-dark, .breadcrumb, .btn-play:active, .btn-play:hover {
    background-color: #964ab9 !important
}

.background-overlay:before {
    background-color: rgb(122 56 146 / 40%)
}

.navbar .active .nav-link {
    background-color: transparent !important
}

::-webkit-scrollbar-thumb {
    background: #964ab9;
    border-radius: 25px
}

::selection {
    background-color: #a242e2
}

footer .links a {
    background-color: #964ab9;
    border-radius: 25px;
    color: #fff !important
}

footer .links a:hover {
    background-color: #964ab9
}

.btn-secondary, .btn-success, .color, .form-check-input:focus:not(:checked), .form-check-input:not(:disabled):active {
    background-color: #964ab9 !important
}

.btn-secondary:active, .btn-secondary:hover, .btn-success:hover, .color:hover {
    background-color: #ac7dc1 !important;
    box-shadow: none
}

.nav-link::before {
    background: #964ab9
}

.play-icon {
    color: #ac7dc1
}

.card-header, .accordion-button:not(.collapsed) {
    background-color: #5f1579
}
